{% if site.active_lang == 'tw' %}
<!-- Begin Newsletter Signup Form (TW) -->
<link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form method="post" action="https://sendfox.com/form/1k0p69/1wjew0" class="sendfox-form" id="1wjew0" data-async="true" data-recaptcha="true">
     <h2>訂閱並取得更新</h2>
    <div class="mc-field-group">
      <input type="email" id="sendfox_form_email" placeholder="E-mail" name="email" required />
    </div>
     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
     <div class="clear">
       <p><button type="submit" id="mc-embedded-subscribe" class="button">訂閱</button></p>
     </div>
  </form>
  <script src="https://cdn.sendfox.com/js/form.js" charset="utf-8"></script>
</div>
<!--End mc_embed_signup-->

{% else %}

<!-- Begin Default Newsletter Signup Form -->
<link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form method="post" action="https://sendfox.com/form/1k0p69/m8onwq" class="sendfox-form" id="m8onwq" data-async="true" data-recaptcha="true">
     <h2>Sign up to get the update</h2>
    <div class="mc-field-group">
      <input type="email" id="sendfox_form_email" placeholder="Email Address" name="email" required />
    </div>
     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
     <div class="clear">
       <p><button type="submit" id="mc-embedded-subscribe" class="button">Subscribe</button></p>
     </div>
  </form>
  <script src="https://cdn.sendfox.com/js/form.js" charset="utf-8"></script>
</div>
<!--End mc_embed_signup-->
{% endif %}
