<div class="sidebar sticky-top">        
	<!-- Table of Content (toc) -->
	{% if page.toc %}
		<div class="sidebar-section">
			<h5><span>Table of Content</span></h5>
			{% toc %}
		</div>
	{% endif %}
	<!-- End Table of Content (toc) -->

    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <!-- div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div -->
</div>
